### IntelliJ IDEA ###
*.iml
.idea/
out/
*.class

# Исключаем файлы сборки (если используете Gradle или Maven)
build/
target/
*.jar
*.war
*.ear

# Исключаем временные файлы операционной системы
.DS_Store
Thumbs.db

# Исключаем файлы и папки, не относящиеся к исходному коду
!**/src/**  # Включаем все файлы в src/